/* Parallax.css */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .layer1 {
    background-image: url('../../public/images/Backgroundspace.png');
    z-index: -4;
  }
  
  .layer2 {
    background-image: url('../../public/images/Starburst.png');
    z-index: -3;
    background-attachment: fixed;
  }
  .layer3 {
    background-image: url('../../public/images/Starfield1.png');
    z-index: -3;
    background-attachment: fixed;
  }
  
  .layer4 {
    background-image: url('../../public/images/Starfield2.png');
    z-index: -2;
  }

  .layer5 {
    background-image: url('../../public/images/Starfield3.png');
    z-index: -2;
  }

  .layer6 {
    background-image: url('../../public/images/Starfield4.png');
    z-index: -2;
  }

  .layer7 {
    background-image: url('../../public/images/Dogstars.png');
    z-index: -2;
  }
  
  .layer8 {
    background-image: url('../../public/images/Earth.png');
    z-index: -1;
  }
  